<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <!-- لاحظ أنني حذفت سطر android:icon بالكامل -->
    <application
        android:allowBackup="true"
        android:label="واجهتي الجديدة"
        android:supportsRtl="true"
        android:hasCode="false">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <property
            android:name="com.google.android.wearable.watchface.WATCH_FACE_FORMAT_VERSION"
            android:value="1" />

        <!-- استخدمنا صورة عقرب الساعات كمعاينة مؤقتة لأنها موجودة فعلاً في مشروعك -->
        <meta-data
            android:name="com.google.android.wearable.watchface.preview"
            android:resource="@drawable/hour_hand" />
            
    </application>
</manifest>
